.env
.venv
backend/backend/__pycache__/
backend/api/__pycache__/
backend/api/migrations/__pycache__/
backend/node_modules
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log